.jumbotron {
  background-image: url(http://cdn.skim.gs/image/upload/v1456338406/msi/minimalist_baker_vegan_pizza_yi4ew7.jpg);
  background-size: cover;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
  padding: 50px;
  margin-top: 30px;
  color: white;

}
/* #3A80A3, white, #980090) */
